/* styles.css (or a separate CSS file in your project) */

.custom-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
  width: fit-content;
  border: dotted 1px #ccc;
  padding: 1em;
  margin: 1em;
}

.label {
  color: #ddd;
  padding: 0.2em;
  margin: 0.5em 1em 0.5em 0.5em;
}

.text-input {
  margin: 0.5em 1em;
  padding: 0.8em;
  border: none;
  border-radius: 0.25rem;
}

.submit-button {
  margin: 1em 1.2em;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cancel-button {
  margin: 1em 1.2em;
  padding: 0.5rem 1rem;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
